/* reuseable style code for header */
.font {
  font-family: "Merriweather Sans", sans-serif;
}
.font-light {
  font-family: "open-sans";
}
.textGrey {
  color: grey;
}
.align {
  text-align: center;
}

.border {
  border: 1px solid red;
}
.dash {
  border: 1px dashed red;
}
.zeroPadMar {
  padding: 0px;
  margin: 0px;
}
.trueBackgroundColor {
  background-color: #a0ece7;
}

.redBackground {
  background-color: red;
  color: white;
}
.greyBorder {
  border: 1px solid grey;
}
.borderRadius {
  border-radius: 40px;
}

/* style for header section */
#header {
  border: 1px solid red;
  width: 1598px;
  height: 150px;
}
.logo {
  float: left;
  clear: left;
}
.logoName {
  margin-top: 25px;
  margin-left: 200px;
}

/* style code for navbar */
.navbar {
  margin-top: 10px;
  margin-right: 60px;
  float: right;
}

.navbar > div {
  width: 150px;
  height: 50px;
  float: left;
  margin: 10px;
}

.notice {
  width: 1598px;
  height: 50px;
  margin: 20px 0px;
  float: left;
}
.notice div:nth-child(1),
.notice div:nth-child(2),
.notice div:nth-child(3) {
  width: 350px;
  height: 30px;
  float: left;
  margin-left: 150px;
}

/* style code for icons */
.icon-check {
  float: left;
  margin: 20px;
  color: red;
}

/* Style sheet for about page start */
h1{
  font-size: 50px;
}
p{
  /* line-height: 18px; */
  font-size: 20px;
}
#AboutMain{
    /* border: 1px solid red; */
  width: 100%;
  height: 100%;
}
#AboutMain>div{
  /* border: 1px solid black; */
  width: 100%;
  height: 350px;
  margin-top: 5%;
}
#AboutMain>div:nth-child(1){
  height: 550px;
  background-color: #F4F4F4;
}
.TopBox>div:nth-child(1),.TopBox>div:nth-child(2),.MiddleBox>div:nth-child(1),.MiddleBox>div:nth-child(2),.BottomBox>div:nth-child(1),.BottomBox>div:nth-child(2){
  /* border: 1px solid yellow; */
  width: 55%;
  height: 100%;
  float: left;
}
.TopBox>div:nth-child(2),.MiddleBox>div:nth-child(2),.BottomBox>div:nth-child(2){
  width: 40%;
  height: 85%;
  margin: 2%;
}
.TopBox>div:nth-child(2){
  margin-top: 5%;
  height: 65%;
}
.Feedback{
  position: fixed;
  top: 100px;
  left: 1310px; 
  background: red ;
}
.imgbox{
  width: 100%;
  height: 100%;
}
.CustomerBox>div:nth-child(1){
  text-align: center;
  width: 100%;
  height: 80px;
  /* border: 1px solid green; */
}
.CustomerBox>div:nth-child(2){
  width: 100%;
  height: 200px;
  /* border: 1px solid red; */
}
.CustomerBox>div:nth-child(3){
  text-align: center;
  width: 100%;
  height: 50px;
  /* border: 1px solid blue; */
}
.CustomerLogo>div:nth-child(1),.CustomerLogo>div:nth-child(2),.CustomerLogo>div:nth-child(3),.CustomerLogo>div:nth-child(4),.CustomerLogo>div:nth-child(5),.CustomerLogo>div:nth-child(6){
  width: 10%;
  height: 28%;
  /* border: 1px solid red; */
  float: left;
  margin: 3%;
}
.CustomerLogo>div:nth-child(1){
  margin-left: 5%;
}
/* Style sheet for about page end */